/*
    Document   : basecamp
    Created on : Jul 19, 2012, 5:34:17 PM
    Author     : kayakosupport
    Description:
        Basecamp style sheet
*/

.basecamp_note {
    background: none repeat scroll 0 0 #FFEFBB;
}